.body{
    margin: 0%;
}
.home {
    display: inline-block;
}

.intro_image{
   position: absolute;
 
   
    display: flex;
    
}

.contain{
    margin: 0%;
    display: flex;
  
}

.social a{
    color:red;
   padding : 20px 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;  
   text-decoration: none; 
}
.social {
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: 2px 2px 30px red;
    z-index: 1;
    text-decoration: none;
}

.social a:hover {
    color:rgb(44, 3, 3);
}
.Join_button{
    padding-left: 40px;
}
.Joinbutton {

  width: 100px;
  border-radius:20px ;
  background-color: brown; /* Green */
  border: none;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
}
.Join_button:hover{
    color: rgb(134, 5, 27);
}

 .Product{

    width: 85%;
    background-color: #FFFFFF;
    
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: 600px;
   
   
    background-size: 1000px;
    background-position: center;
    border-radius: 10px;

}
.heading{
    margin-top: 0px;
    margin: 20px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.heading h3{
    margin-top: 100px;
    margin-bottom: 80px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    color: red;
}
.product_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
}
.p-box{
    width : 300px;
    height:220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
    margin: 10px 30px;

    
    

}
.p-box img{

    background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

   
    

}


.Cart{
    
    
    text-decoration: none;
    position: absolute;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-family: calibri;
    left: 90px;
    margin-top: 290px;
    margin-left: 55px;
    bottom: 0px;
    transform: translateX(-50%);
    align-items: center;
    border-radius: 20px;
    display: none;
    animation: fade 0.2s;
    color: #FFFFFF;
    background: linear-gradient(120deg,red 20%,red);
}
.p-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #FFFFFF;

}
.p-box:hover .price{
    color: black;
    transition: all ease 0.2s;
}
.p-box:hover .Cart{
    display: flex;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.Card3 h2{
    font-family: 'Roboto', sans-serif;
    color: red;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 29px;
}
.Card3 {
    background: white;
    margin-top: 10px;
    margin-bottom: 20px;

    border-radius: 0px;
    width : 370px;
    height: 100%;
   
}
.card{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #FFFFFF;
    
}
.col-md-12 h2{
        line-height: 1.2; 
         margin-left:550px;
        
            
            text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
       
      
            font-weight: 700;
            letter-spacing: 2px;
            text-align: center;
            font-size: 2rem;
            color: red;
    
}
.Product1{
    margin-top: 10px;
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: red;
    color: white;
    min-width: 50px;
    text-align: center;
  }


  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid gray;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: red;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
 .Contact_us h2{
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    color: red;
 }
 .nav-area {
    flex-direction: column;
    background: white;
    width: -webkit-fill-available;
    text-align: center;
    color: red;
    position: fixed;
    overflow:hidden;
    top: 0;
    z-index: 10;
    left: 0;
    overflow-x: auto;
    transition: top .6s;
    margin-bottom: 0%;
}

.menu_container {
    width: auto;
    text-align: left;
    display: flex;
    font-size: 20px;
    
    height:90px;
    
}
.menu_item{
    padding-left: 20px;
    padding-top: 10px;
    flex-direction: column;
  
    
        text-align: center;
        font-weight: 600;
        display: inline-grid;
        font-size: 16px;
        margin: 15px;
        width: 209px;
        white-space: pre;
}

.nav.area.animate{
    top : -71px;
}
.nav.area.sticky{
    top : 0;
    z-index: 99;
}
.bank{
    padding-left: 20px;
    color: black; 
    margin-top:40px; 
    width : 600px;
    width:300px; 
    margin-left: 200px; 
    margin-top : 50px;
  }
  @media(max-width : 668px){
    .container {
    
     width: 350px;
    
    }
  }
  
  @media(max-width : 668px){
    .card{
    margin-left:60px;
    }
  }
  @media(max-width : 668px){
  
     h2{
        margin-left: 10px;
    }
  }
  @media(max-width : 668px){
  
     .icon{
        margin-left: 60px;
    }
  }
  
  @media(max-width : 668px){
    .btn{
       margin-left: 40px;
      
  }}
  .google{
    margin-left: 150px;
     margin-top :  20px; 
     width: 450px;
      height: 600px
  }
  @media(max-width : 668px){
    .google{
   width: 250px;
   margin-top: 30px;
   margin-left: 80px;
  }
  
  
  }
  
  @media(max-width : 668px){
  
   .dis{
       flex-direction: column;
     
   }
   
   
   .bank{
       margin-left: 60px;
   }
  }
  @media(max-width : 668px){
  .social {
    left : 20px;
  
  }
  }