.home {
    display: inline-block;
}

.intro_image {
    position: absolute;
    right: 10%;
    top: 25%;
    display: flex;
    justify-content: center;
}

.into_flex {
    margin-bottom: 100px;
    margin-left: 100px;
    margin-top: 1%;
}

.contain {
    margin: 0%;
    display: flex;
}

.About {
    padding-top: 100px;
    padding-left: 200px;
    line-height: 30px;
    font-size: 20px;
}

.About h2 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2rem;
    color: rgb(204, 42, 69);
}

.social a {
    color: rgb(245, 82, 109);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social {
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-decoration: none;
}

.social a:hover {
    color: rgb(168, 5, 32);
}

.Join_button {
    padding-left: 40px;
}

.Joinbutton {
    width: 100px;
    border-radius: 20px;
    background-color: rgb(241, 82, 108);
    /* Green */
    border: none;
    color: white;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
}

.Join_button:hover {
    color: rgb(134, 5, 27);
}

.Product {
    width: 85%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: -60px;
    position: relative;
    background-image: url("/static/assets/images/poductbg.png");
    background-size: 1000px;
    background-position: center;
    border-radius: 10px;
}

.heading {
    margin: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.heading h3 {
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    color: rgb(204, 42, 69);
}

.product_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
}

.p-box {
    width: 250px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
    margin: 10px 30px;
}

.p-box img {
    height: 250px;
}

.p-box p {
    color: rgb(241, 129, 148);
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.price {
    color: #4d4d4d70;
    font-family: poppins;
    font-size: 1rem;
    text-decoration: none;
}

.Cart {
    text-decoration: none;
    position: absolute;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-family: calibri;
    left: 90px;
    margin-top: 290px;
    margin-left: 35px;
    bottom: 0px;
    transform: translateX(-50%);
    align-items: center;
    border-radius: 20px;
    display: none;
    animation: fade 0.2s;
    color: #FFFFFF;
    background: linear-gradient(120deg, rgb(211, 69, 92) 20%, rgb(228, 49, 79));
}

.p-box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.p-box:hover .price {
    color: rgb(253, 131, 151);
    transition: all ease 0.2s;
}

.p-box:hover .Cart {
    display: flex;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Card3 h2 {
    font-family: 'Roboto', sans-serif;
    color: #5a20f8;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 29px;
}

.Card3 {
    background: white;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 0px;
    width: 370px;
    height: 100%;
}

.card {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.col-md-12 h2 {
    line-height: 1.2;
    margin-left: 550px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    color: rgb(204, 42, 69);
}

.Product {
    margin-top: 50px;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: rgb(245, 73, 101);
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid rgb(241, 96, 121);
}


/* Set a style for the submit button */

.btn {
    background-color: rgb(250, 47, 81);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.Contact_us h2 {
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    color: rgb(204, 42, 69);
}

.nav-area {
    flex-direction: column;
    background: rgb(238, 62, 91);
    width: -webkit-fill-available;
    text-align: center;
    color: white;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 10;
    left: 0;
    overflow-x: auto;
    transition: top .6s;
}

.menu_container {
    width: auto;
    text-align: left;
    display: flex;
    font-size: 20px;
    height: 90px;
}

.menu_item {
    padding-left: 20px;
    padding-top: 10px;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    display: inline-grid;
    font-size: 16px;
    margin: 15px;
    width: 209px;
    white-space: pre;
}

.nav.area.animate {
    top: -71px;
}

.nav.area.sticky {
    top: 0;
    z-index: 99;
}