@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
.outer-box:not(.navi) {
	position: relative;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.navi {
	position: relative;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.column,
.columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}




p {
	margin-top: 0;
}


a {
	color: #fff;
}

a:hover {
	color: #0FA0CE;
}


/* Header Section
********************************************************************* */

header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	padding: 0.1px;
	height: 100vh;
	max-height: 626px;
	background: #e55d87;
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1);
}

.title {
	transform-origin: 50% 0;
	transform: scale(0.75);
}

.main_nav {
	position: fixed;
	top: 0px;
	max-height: 70px;
	z-index: 999;
	width: 100%;
	padding-top: 17px;
	background: #222228;
	background: -moz-linear-gradient(-45deg, #222228 0%, #222228 100%);
	background: -webkit-linear-gradient(-45deg, #222228 0%, #222228 100%);
	background: linear-gradient(135deg, #222228 0%, #222228 100%);
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	top: -100px;
	padding-bottom: 6px;
}

.open-nav {
	max-height: 500px !important;
}

.sticky {
	background-color: #ffffff;
	opacity: 1;
	top: 0px;
}

nav {
	width: 100%;
	margin-top: 5px;
}

nav ul {
	list-style: none;
	overflow: hidden;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin-left: 35px;
	line-height: 1.5;
	letter-spacing: 1px;
}

nav ul a {
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
}

nav ul a:hover {
	color: #CFCFCF;
}

.mobile-toggle {
	display: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 22px;
	top: 0;
	width: 30px;
}

.mobile-toggle span {
	width: 30px;
	height: 4px;
	margin-bottom: 7px;
	background: #fff;
	display: block;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 5vh;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: 13px;
	height: 13px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	z-index: 9;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation: fade_move_down 2s ease-in-out infinite;
	animation: fade_move_down 2s ease-in-out infinite;
}



@-webkit-keyframes fade_move_down {
	0% {
		-webkit-transform: translate(0, -10px) rotate(45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translate(0, 10px) rotate(45deg);
		opacity: 0;
	}
}

@-moz-keyframes fade_move_down {
	0% {
		-moz-transform: translate(0, -10px) rotate(45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-moz-transform: translate(0, 10px) rotate(45deg);
		opacity: 0;
	}
}

@keyframes fade_move_down {
	0% {
		transform: translate(0, -10px) rotate(45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate(0, 10px) rotate(45deg);
		opacity: 0;
	}
}




#about {
	padding: 100px 0 50px 0;
}




#gallery {
	background-color: #F5F5F5;
}




#services {
	padding: 80px 0 100px 0;
	background-color: #F5F5F5;
}

#payment {
	background-color: #F5F5F5;
	padding: 50px 0 50px 0;
}

#contact {}

.progressBar {
	margin-bottom: 26px;
	margin-bottom: 1.66em;
}

.progressBar h4 {
	font-size: 16px;
	text-transform: none;
	margin-bottom: 7px;
	margin-bottom: .33em;
}

.progressBarouter-box {
	width: 100%;
	height: 8px;
	background: #E1E1E1;
	overflow: hidden;
}

.progressBarValue {
	height: 8px;
	float: left;
	background: #e55d87;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
}

.value-00 {
	width: 0;
}

.value-10 {
	width: 10%;
}

.value-20 {
	width: 20%;
}

.value-30 {
	width: 30%;
}

.value-40 {
	width: 40%;
}

.value-50 {
	width: 50%;
}

.value-60 {
	width: 60%;
}

.value-70 {
	width: 70%;
}

.value-80 {
	width: 80%;
}

.value-90 {
	width: 90%;
}

.value-100 {
	width: 100%;
}


/* Portfolio Section
********************************************************************* */

#portfolio {
	padding: 100px 0 100px 0;
}


/* Contact Section
********************************************************************* */

#contact {
	padding: 100px 0 100px 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 38px;
	padding: 6px 10px;
	background-color: #F5F5F5;
	border: none;
	box-shadow: none;
	box-sizing: border-box;
	border-radius: 0;
	outline: none;
}

textarea {
	min-height: 250px;
}

input[type="submit"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background: #5fc3e4;
	border-radius: 0px;
	border: 0;
	cursor: pointer;
	box-sizing: border-box;
}

input[type="submit"]:hover {
	background: #e55d87;
	text-decoration: none;
}


/* Footer Section
********************************************************************* */

footer {
	min-height: 120px;
	padding: 40px 0 40px 0;
	background: #e55d87;
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1);
	box-sizing: border-box;
}

footer p {
	color: #FFFFFF;
	margin: 20px 0 0 0;
}

.socialIcons {
	font-size: 34px;
	color: rgba(255, 255, 255, 0.7);
}


/* Lists
********************************************************************* */

ul {
	list-style: circle inside;
}

ol {
	list-style: decimal inside;
}

ol,
ul {
	padding-left: 0;
	margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 1.5rem 0 1.5rem 3rem;
	font-size: 90%;
}

li {
	margin-bottom: 1rem;
}


/* Spacing
********************************************************************* */

button,
.button {
	margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
	margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 2.5rem;
}


/* Utilities
********************************************************************* */

.u-full-width {
	width: 100%;
	box-sizing: border-box;
}

.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}

.u-pull-right {
	float: right;
}

.u-pull-left {
	float: left;
}


/* Clearing
********************************************************************* */

.outer-box:after,
.row:after,
.u-cf {
	content: "";
	display: table;
	clear: both;
}


/* Misc
********************************************************************* */

.icon {
	padding-right: 10px;
	color: #e55d87;
}

.block {
	width: 70px;
	height: 2px;
	background: #e55d87;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
	margin-bottom: 50px;
}

.wallet {
	margin: auto;
}

.smoothscroll {
	color: #fff
}

.servicecard img {
	position: bottom;
	width: 100%;
	height: 220px;
	object-fit: cover;
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-style: hidden;
}

.servicecard:hover {
	-moz-box-shadow: 0px 0px 5px 0px #333;
	-webkit-box-shadow: 0px 0px 5px 0px #333;
	box-shadow: 0px 0px 5px 0px #333;
}

.servicecard {
	text-align: center;
	position: relative;
	display: inline-block;
	width: 20%;
	background: #e6e6e6;
	background: -moz-linear-gradient(-45deg, #e6e6e6 0%, #a6a6a6 100%);
	background: -webkit-linear-gradient(--45deg, #e6e6e6 0%, #a6a6a6 100%);
	background: linear-gradient(135deg, #e6e6e6 0%, #a6a6a6 100%);
	color: #262626;
	height: 270px;
	min-width: 210px;
	margin: 8px 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px #b3b3b3;
}

.row.services {
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

.slider {
	margin: 0 auto;
	max-width: 940px;
}

.slide_viewer {
	height: 300px;
	overflow: hidden;
	position: relative;
}

.slide_group {
	height: 100%;
	position: relative;
	width: 100%;
}

.slide {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	position: absolute;
	width: 100%;
}

.slide:first-child {
	display: block;
}

.slide_buttons {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

a.slide_btn {
	color: #474544;
	font-size: 42px;
	margin: 0 0.175em;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
	color: #428CC6;
	cursor: pointer;
}

.directional_nav {
	height: 340px;
	margin: 0 auto;
	max-width: 940px;
	position: relative;
	top: -340px;
}

.previous_btn {
	bottom: 0;
	left: 20px;
	margin: auto;
	position: absolute;
	top: 0;
}

.next_btn {
	bottom: 0;
	margin: auto;
	position: absolute;
	right: 20px;
	top: 0;
}

.previous_btn,
.next_btn {
	cursor: pointer;
	height: 65px;
	opacity: 0.5;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
	opacity: 1;
}

@media only screen and (max-width: 767px) {
	.previous_btn {
		left: 50px;
	}
	.next_btn {
		right: 50px;
	}
}

#gallery {
	display: block;
	width: 80%;
	margin: 0 auto;
	border-radius: 6px;
	color: #262626;
	height: 500px;
	padding: 10px 5% 30px 5%;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px #b3b3b3;
}

.wallet {
	justify-content: center;
	dispaly: inline-block;
	margin-top: 40px;
}

.mode {
	text-align: center;
	position: relative;
	display: inline-block;
	width: 20%;
	min-width: 200px;
	background: #fff;
	border-radius: 6px;
	color: #262626;
	height: 400px;
	margin: 8px 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px #b3b3b3;
}

.mode img {
	max-height: 240px;
	object-fit: contain;
}

.contactrow {
	position: relative;
	width: 80%;
}

.half-column {
	display: inline-block;
	width: 49%
}

.outer-box.contact {
	justify-content: center;
}

@media only screen and (max-width: 766px) {
	.main_nav {
		padding-top: 25px;
	}
	nav {
		width: 100%;
	}
	nav ul {
		padding-top: 0px;
		margin-bottom: 22px;
		text-align: center;
		width: 100%;
	}
	nav ul li {
		width: 100%;
		padding: 7px 0;
		margin: 0;
	}
	nav ul li:first-child {
		margin-top: 70px;
	}
	.activate {
		display: none;
	}
	.mobile-toggle {
		display: block;
	}
	.contactrow {
		margin-left: 20px;
	}
	.half-column {
		width: 100%
	}
	.directional_nav {
		display: none;
	}
	.servicecard {
		width: 30%;
		height: 230px;
		min-width: 150px;
		margin: 8px 10px;
	}
	.servicecard img {
		position: bottom;
		width: 100%;
		height: 180px;
	}
	#about {
		margin: auto 30px;
	}
}

@media only screen and (min-height: 626px) {
	.activate {
		top: 540px;
	}
}

.activate{

position:absolute;
  height:100px;
	z-index: 990;
	width: 300px;
	float:right;
	left:100%;
    top:85vh;
    white-space: nowrap;
	transform: translate( -100%,-70%);
	margin-right:10px;
	margin-bottom:30px;
    text-align:right;
	
}
.activate h5,.activate p{
	color:#fff;
}





