{% extends 'kaddapp/basic2.html' %} {% load static %}{% block body %}
<link rel="stylesheet" href="{% static 'style1.css'%}">

<div class="outer_box">
    <div id="stepcontainer" class="stepcontainer">

        <ul class="steps">
             <li class="step step--complete step--inactive">
                <div class="step-progress complete"></div>
                <span class="step__icon"></span>
                <span class="step__label">Personal Details</span>
            </li>
            <li class="step step--complete step--inactive">
                <div class="step-progress complete"></div>
                <span class="step__icon"></span>
                <span class="step__label">Social Links</span>
            </li>
            <li class="step step--incomplete step--active">
                <div class="step-progress incomplete"></div>
                <span class="step__icon"></span>
                <span class="step__label">Payment</span>
            </li>
            <li class="step step--incomplete step--inactive">
                <div class="step-progress incomplete"></div>
                <span class="step__icon"></span>
                <span class="step__label">Services</span>
            </li>
            <li class="step step--incomplete step--inactive">
                <div class="step-progress incomplete"></div>
                <span class="step__icon"></span>
                <span class="step__label">Gallery</span>
            </li>
            <li class="step step--incomplete step--inactive">
                <div class="step-progress incomplete"></div>
                <span class="step__icon"></span>
                <span class="step__label">Select Theme</span>
            </li>
            <li class="step step--incomplete step--inactive">
                <span class="step__icon"></span>
                <span class="step__label">Preview</span>
            </li>
        </ul>

    </div>
    <div class="container" style="width: 1000px;">

        <form action='/kaddapp/payment_details/' method="POST" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="row">
                <div class="input-group">
                    <h6>Bank Account Details</h6>
                </div>

                <div class="input-group">
                    <div class="col-half">
                        <h4 for="id_bank_name">Bank Name</h4>
                        <input type="text" name="bank_name" maxlength="50" required id="id_bank_name">
                    </div>
                    <div class="col-half">
                        <h4 for="id_account_name"> Account Holder Name</h4>
                        <input type="text" name="account_name" maxlength="50" required id="id_account_name">
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-half">
                        <h4 for="id_account_num">Bank Accout Number</h4>
                        <input type="text" name="account_num" maxlength="50" required id="id_account_num" />
                    </div>
                    <div class="col-half">
                        <h4 for="id_ifsc"> Bank IFSC Code</h4>
                        <input type="text" name="ifsc" maxlength="50" required id="id_ifsc">
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-half">
                        <h4 for="id_account_type">Account Type</h4>
                        <select name="account_type" id="id_account_type">
                                <option value="Joint Account">Joint Account</option>
                                <option value="Saving Account">Saving Account</option>
                                <option value="Current Account">Current Account</option>
                            </select>
                    </div>
                </div>
                <div class="input-group">
                    <h6>Payment Options</h6>
                </div>
                <div class="col-third">
                    <div class="scontain">
                        <div class="card-header ">
                            <div class="input-group input-group-icon">
                                <h1>Paytm Details</h1>
                                <img class="input-icon " style="width: auto;" src="{% static 'res/paytm.png'%}">
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 for="id_paytm_num">Paytm Number</h4>
                            <div class="input-group input-group-icon">
                                <input type="text" name="paytm_num" maxlength="50" required id="id_paytm_num">
                            </div>
                            <h4 for="id_paytm_qr">Upload Paytm QR Code </h4>
                            <div class="input-group ">
                                <input type="file" name="paytm_qr" required id="id_paytm_qr">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-third">
                    <div class="scontain">
                        <div class="card-header ">
                            <div class="input-group input-group-icon">
                                <h1>Google Pay Details</h1>
                                <img class="input-icon " style="width: auto;" src="{% static 'res/gpay.png'%}">
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 for="id_gpay_num">Google Pay</h4>
                            <div class="input-group input-group-icon">
                                <input type="text" name="gpay_num" maxlength="50" required id="id_gpay_num">
                            </div>
                            <h4 for="id_gpay_qr">Upload Google Pay QR Code </h4>
                            <div class="input-group ">
                                <input type="file" name="gpay_qr" required id="id_gpay_qr">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-third">
                    <div class="scontain">
                        <div class="card-header ">
                            <div class="input-group input-group-icon card-text">
                                <h1>PhonePe Details</h1>
                                <img class="input-icon  " style="width: auto;" src="{% static 'res/phonepe.png'%}">
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 for="id_phonepe_num">PhonePe Number</h4>
                            <div class="input-group input-group-icon">
                                <input type="text" name="phonepe_num" maxlength="50" required id="id_phonepe_num">
                            </div>
                            <h4 for="id_phonepe_qr">Upload PhonePe QR Code </h4>
                            <div class="input-group ">
                                <input type="file" name="phonepe_qr" required id="id_phonepe_qr">
                            </div>
                            <input type="hidden" name="payment" value={{sno}} required id="id_payment">
                            <input type="hidden" name="mod" value={{sno}} required id="id_mod">

                        </div>
                    </div>
                </div>




            </div>
            <button type="submit" class="skip">Submit & next</button>
        </form>
    </div>
</div>

<!-- partial -->
<script src="{% static 'script.js'%}"></script>
<script src="{% static 'script2.js'%}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
{% endblock body%}