{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/DigitalCardtheme3.css' %}">
    <title>Digital Card</title>

    <script src="https://kit.fontawesome.com/25320ceca9.js" crossorigin="anonymous"></script>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="Card" id="Home_hover" style="background :  url( '/media/{{cardd.cover_image}}'); background-repeat : no-repeat; background-position : top;
    background-size : contain; background-color : white; width : 400px; height : 1000px; border-bottom-left-radius: 10px;">

            <div id="home">
                <div class="logo">
                    <img src="/media/{{cardd.logo_image}}" alt="">
                </div>
                <div class="director_info">
                    <h2>{{cardd.company_name}}</h2>
                    <p>{{personeld.first_name}} {{personeld.last_name}}</p>
                    <p>{{personeld.position}}</p>
                </div>


                <!-- contact details -->

                <div class="contact_info">
                    <a href="tel:+{{personeld.phone_number}}" target="blank">
                        <div class="ctn_btn">
                            <i class="fas fa-phone"></i> Call
                        </div>
                    </a>

                    <a href="https://api.whatsapp.com/send?phone=+{{personeld.whatsapp}}&text=Hi" target="blank">
                        <div class="ctn_btn">
                            <i class="fab fa-whatsapp">
                    Whatsup
                </i>

                        </div>
                    </a>

                    <a href="mailto:{{personeld.email}}" traget="black">
                        <div class="ctn_btn">
                            <i class="fas fa-envelope">
                        Mail
                    </i>
                        </div>

                    </a>

                    <a href="https://{{personeld.website}}" target="black">
                        <div class="ctn_btn">
                            <i class="fas fa-globe">
                       Website
                    </i>
                        </div>
                    </a>

                    <a href="https://www.bing.com/maps/directions?rtp=adr.~pos.47.377349853515625_8.539037704467773__Swisscom-Shop_0800+800+800" target="black">
                        <div class="ctn_btn">
                            <i class="fas fa-map-marker-alt">
                        Navigate
                   
                    </i>
                        </div>
                    </a>
                </div>

                <div class=" contact_details">
                    <div class="ctn_box">
                        <i class="fas fa-phone" style="font-size: 1.50em;"></i>
                        <p class="justipy-content-center align-self-center"> {{personeld.phone_number}} {{personeld.alternate_phone}} </p>

                    </div>

                    <div class="ctn_box">
                        <i class="fas fa-envelope" style="font-size: 1.50em;"></i>
                        <p class="justipy-content-center align-self-center"> {{personeld.email}} </p>

                    </div>

                    <div class="ctn_box">
                        <i class="fas fa-map-marker-alt" style="font-size: 1.50em;"></i>
                        <p class="justipy-content-center align-self-center" style="font-size: 17px"> {{personeld.address}}</p>

                    </div>
                </div>


                <div class="download-share-btns">
                    <a class="btn btn-success" href="https://eadds.me/preview/download_contact/306" style="width: 190px; height : 35px ;text-decoration: none;">Download Contact</a>
                    <a class="btn btn-success" data-toggle="modal" data-target="#myModal" style="width: 120px; height : 35px">Share </a>

                </div>

                <div class="link">
                    <h2> Follow Us </h2>
                    <div class="sharebtns">
                        <ul>
                            <li><a href="http://{{sociald.Facebook_link}}"><i style="background-color:#265B9D;"  class="fa fa-facebook"></i></a></li>

                            <li><a href="http://{{sociald.Instagram_link}}"><i style="background-color:#E33F7C;"  class="fab fa-instagram"></i></a></li>

                            <li><a href="http://"><i style="background-color:#00ABE3;"  class="fab fa-twitter"></i></a></li>

                            <li><a href="http://"><i style="background-color:#007CBC;"  class="fab fa-linkedin-in"></i></a></li>

                            <li><a href="http://{{sociald.Youtube_link}}"><i style="background-color:#E22110;" class="fa fa-youtube"></i></a></li>

                            <li><a href="http://"><i style="background-color:#FFFC00;" class="fab fa-snapchat-ghost"></i></a></li>

                            <li><a href="http://"><i style="background-color:#EF1C25;" class="fab fa-pinterest"></i></a></li>

                        </ul>

                    </div>


                </div>
            </div>
        </div>

        <!-- About Us Contain -->


        <div class="Card" id="About_us">
            <h2 style="color: #5a20f8;"> About Us <small style=" font-size :14px; font-style :italic; float :right;">Estb. {{personeld.company_est_date}}</small></h2>

            <p>{{personeld.about}}</p>
        </div>

        <!-- Product and Services -->

        <div class="Card1" id="Product_services">
            <div class="product">
                <h2>Product & Services</h2>
            </div>


            <div class="phone" style="margin-top: 50px;">


                <div>
                    <div class="oppo" style="display: flex;">
                        <img src="/media/{{productd.product_image}}" alt="" style="margin-left:30px;   width : 230px;
                height: 200px;"> 
                    </div>
                    <div class=" price ">
                        <p>₹{{productd.mrp}}</p> </p>
                    </div>
                </div>


                <div>
                    <div class="oppo" style="display: flex;">
                        <img src="/media/{{productd.product_image2}}" alt="" style="margin-left:30px;   width : 230px;
                height: 200px;"> 
                    </div>
                    <div class=" price ">
                        <p>₹{{productd.mrp2}}</p> </p>
                    </div>
                </div>

                 <div>
                    <div class="oppo" style="display: flex;">
                        <img src="/media/{{productd.product_image3}}" alt="" style="margin-left:30px;   width : 230px;
                height: 200px;"> 
                    </div>
                    <div class=" price ">
                        <p>₹{{productd.mrp3}}</p> </p>
                    </div>
                </div>

                 <div>
                    <div class="oppo" style="display: flex;">
                        <img src="/media/{{productd.product_image4}}" alt="" style="margin-left:30px;   width : 230px;
                height: 200px;"> 
                    </div>
                    <div class=" price ">
                        <p>₹{{productd.mrp4}}</p> </p>
                    </div>
                </div>


                <!--
                <div>


                    <div class="oppo" style="display: flex;">
                        <img src="../Images/sam5.jpg" alt="" style="margin-left:30px;   width : 230px;
                height: 200px;">
                        <img src="../Images/apple5.jpg" alt="" style="width : 100px; height: 200px; ">

                    </div>
                    <div class=" price ">
                        <p>32/Mt. 121GB </p>
                        <p style="margin-left: 60px;">41/mt.130GB</p>
                    </div>

                </div>-->
            </div>
        </div>


        <!-- Gallery -->


        <div class="Card2" id="gallery">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="my-3 ml-3">Gallery </h2>
                    <div class="card text-center my-4 mx-3">
                        <img class="card-img-top" src="/media/{{galleryd.gallery_image}}" alt="Card image cap">
                    </div>

                    <div class="card text-center my-4 mx-3">
                        <img class="card-img-top" src="/media/{{galleryd.gallery_image2}}" alt="Card image cap">
                    </div>

                    <div class="card text-center my-4 mx-3">
                        <img class="card-img-top" src="/media/{{galleryd.gallery_image3}}" alt="Card image cap">
                    </div>
                    
                    <div class="card text-center my-4 mx-3">
                        <img class="card-img-top" src="/media/{{galleryd.gallery_image4}}" alt="">
                    </div>
                    <div class="card text-center my-4 mx-3">
                        <img class="card-img-top" src="/media/{{galleryd.gallery_image5}}" alt="">
                    </div>
                    <div class="card text-center my-4 mx-3">
                        <img class="card-img-top" src="/media/{{galleryd.gallery_image6}}" alt="">
                    </div>
                   
                   
                    <!--<div class="card text-center my-4 mx-3">
                        <img class="card-img-top" src="/media/{{galleryd.gallery_image6}}" >
                    </div>-->
             


                </div>


            </div>

        </div>

        <div class="Card3" id="payment">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="my-3 ml-3" style="line-height: 1.2; ">Payment</h2>

                    <div class="card my-4 mx-3 px-3" style="width:300px; height : 400px;  border: 1px solid rgb(169, 216, 231);">
                        <div style="padding-left: 20px; color: blue;">
                            <h3 style="color:blue; align-items: center;" class="card-header px-0">Bank Details</h3>
                            <label class="" style="font-size:12px;margin-top:30px">Bank Name: </label>
                            <p style="font-size:19px; font-weight: 500;">{{paymentd.bank_name}}</p>
                            <label style="font-size:12px;" class="">Account Holder Name: </label>
                            <p style="font-size:19px; font-weight: 500;">
                                {{paymentd.account_name}}</p>
                            <label style="font-size:12px;" class="">Account Number: </label>
                            <p style="font-size:19px; font-weight: 500;">
                               {{paymentd.account_num}}</p>
                            <label style="font-size:12px;" class="">IFSC Code: </label>
                            <p style="font-size:19px; font-weight: 500;">{{paymentd.ifsc}} </p>
                            <label style="font-size:12px;" class="">Account Type: </label>
                            <p style="font-size:19px; font-weight: 500;">
                                {{paymentd.account_type}}</p>
                        </div>
                    </div>


                    <div style="margin-top: 20px;">
                        <!-- paytm -->
                        <div class="card mx-3 " style="width:280px; height : 150px;  border: 1px solid rgb(169, 216, 231);padding-left: 20px; color: blue;">
                            <h3 style="color:blue;" class="card-header">
                                Paytm
                            </h3>
                            <div class="card-body">
                                <label style="font-size:12px;" class="">Paytm Number: </label>
                                <p style="font-size:19px; font-weight: 500;" class="card-text">
                                    {{paymentd.paytm_num}}</p>
                                    
                            </div>
                           
                        </div>
                    </div>
                    <!-- google pay -->
                    <div style="margin-top: 20px;">
                        <div class="card mx-3 " style="width:280px; height : 150px;  border: 1px solid rgb(169, 216, 231);padding-left: 20px; color: blue;">
                            <h3 style="color:blue;" class="card-header">
                                Google Pay
                            </h3>
                            <div class="card-body">
                                <label style="font-size:12px;" class="">googlepay Number: </label>
                                <p style="font-size:19px; font-weight: 500;" class="card-text">
                                    {{paymentd.gpay_num}}</p>
                            </div>
                      
                        </div>
                    </div>

                    <div style="margin-top: 20px;">
                        <!--   phone pay   -->
                        <div class="card mx-3 " style="width:280px; height : 150px;  border: 1px solid rgb(169, 216, 231);padding-left: 20px; color: blue;">
                            <h3 style="color:blue;" class="card-header">
                                PhonePe
                            </h3>
                            <div class="card-body">
                                <label style="font-size:12px;" class="">PhonPe Number: </label>
                                <p style="font-size:19px; font-weight: 500;" class="card-text">
                                    {{paymentd.phonepe_num}}</p>
                            </div>
                            <!--<img src="/media/{{paymentd.phonepe_qr}}" />-->
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- enquery -->
        <div class="Card4" id="enquery">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="my-3 ml-3 ">Contact Us</h2>

                    <div class="spinner-border text-primary text-center" style="display:none;" role="status" id="form_status">
                        <span class="sr-only">Sending...</span>
                    </div>

                    <form class="px-3"  action="" method="post" style="padding-left: 20px; color : blue;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <div class="int">
                                <input type="text" class="form-control" id="name" name="name" placeholder="your name" required>
                            </div>
                        </div>
                        <div class="mb-3" style="padding-top : 30px;">
                            <label for="phone" class="form-label">Phone Number</label>
                            <div class="int">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="your phone number" required></div>
                        </div>
                        <div class="mb-3" style="padding-top : 30px;">
                            <label for=" email " class="form-label ">Email address</label>
                            <div class="int "> <input type="email " class="form-control " id="email " name="email" placeholder="name@example.com " required>
                            </div>
                        </div>
                        <div class="mb-3 " style="padding-top : 30px;">
                            <label for=" message " class="form-label ">Your Message</label>
                            <div class="int "> <textarea style=" height :100px; color: blue; " class="form-control " id="message " name="message " rows="3 " placeholder="enter your message "></textarea></div>
                        </div>
                        <input type="hidden" name="rmail" value="{{personeld.email}}" </div>
                        <button type="submit " class="btn mb-3 " style="width:150px;background-color: rgb(97, 133, 253); color: black; margin-bottom:40px; margin-left: 90px; margin-top: 20px ; padding-bottom:10px; ">Send</button>
                    </form>

                </div>


            </div>

            <!-- ads -->

        </div>




    </div>

    <div class="menu_bottom ">
        <div class="menu_container ">
            <div class="menu_item " onclick="location.href='#Home_hover' "><i class="fa fa-home "></i> Home</div>
            <div class="menu_item " onclick="location.href='#About_us' "><i class="fa fa-briefcase "></i>About Us</div>
            <div class="menu_item " onclick="location.href='#Product_services' "><i class="fa fa-ticket "></i>Product &amp; Services</div>
            <div class="menu_item " onclick="location.href='#shop_online' "><i class="fa fa-archive "></i>Shop</div>
            <div class="menu_item " onclick="location.href='#gallery' "><i class="fa fa-image "></i>Gallery</div>
            <div class="menu_item " onclick="location.href='#youtube' "><i class="fa fa-video-camera "></i>Youtube Videos</div>
            <div class="menu_item " onclick="location.href='#payment' "><i class="fa fa-money "></i>Payment</div>
            <div class="menu_item " onclick="location.href='#enquery' "><i class="fa fa-comment "></i>Enquiry</div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal " id="myModal ">
        <div class="modal-dialog modal-sm ">
            <div class="modal-content ">

                <!-- Modal Header -->
                <div class="modal-header ">
                    <h4 class="modal-title " style=" font-size: 19px; ">Share Digital Card</h4>
                    <button type="button " class="close " data-dismiss="modal ">&times;</button>
                </div>


                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx " crossorigin="anonymous ">
                </script>


                <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js " integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s " crossorigin="anonymous "></script>
      -->

                <script>
                    let name = document.ge

                    $(document).ready(() => {
                        $.ajax({
                            type: "POST ",
                            url: "https://eadds.me/card/views/608 ",
                            data: {}, // serializes the form's elements.
                            success: function(data) {
                                console.log("done! ");
                                // alert(data); // show response from the php script.
                                // window.location.reload()
                                // $("form ").css("display ", "block ");
                                // $("#form_status ").css("display ", "none ");

                            },
                            error: function(data) {
                                $("#form_status ").css("display ", "none ");
                                console.log('An error occurred.');
                                console.log(data);
                            },
                        });

                        //   increment decrement qty
                        $(".dec ").click(function() {
                            var qtyval = Number($(this).parent().find('input').val());
                            console.log($(this).parent().find('input').val());
                            console.log(qtyval);
                            // let qty = Number($("input ").val());
                            if (qtyval > 1) {
                                $(this).parent().find('input').val(qtyval - 1)
                            }
                        })
                        $(".inc ").click(function() {
                            var qtyval = Number($(this).parent().find('input').val());
                            console.log(qtyval);
                            $(this).parent().find('input').val(qtyval + 1)
                        })
                    })

                    // this is the id of the form
                    $("#contactform ").submit(function(e) {

                        e.preventDefault(); // avoid to execute the actual submit of the form.

                        var form = $(this);
                        var url = form.attr('action');
                        $("form ").css("display ", "none ");
                        $("#form_status ").css("display ", "block ");

                        $.ajax({
                            type: "POST ",
                            url: url,
                            data: form.serialize(), // serializes the form's elements.
                            success: function(data) {
                                console.log("done! ");
                                alert(data); // show response from the php script.
                                window.location.reload()
                                    // $("form ").css("display ", "block ");
                                    // $("#form_status ").css("display ", "none ");

                            },
                            error: function(data) {
                                $("#form_status ").css("display ", "none ");
                                console.log('An error occurred.');
                                console.log(data);
                            },
                        });


                    });


                    function myNavFunc() {
                        // If it's an iPhone..
                        if ((navigator.platform.indexOf("iPhone ") != -1) ||
                            (navigator.platform.indexOf("iPod ") != -1) ||
                            (navigator.platform.indexOf("iPad ") != -1))
                            window.open(`maps://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=28.62644460249001,77.10080960400826`);
                        else
                            window.open(`https://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=28.62644460249001,77.10080960400826`);
                    }
                </script>





            </div>
</body>

</html>